# This script takes the World Food Program's Global Food Prices dataset and aggregates the data by country, food category, and optionally, region.

In [73]:
import pandas as pd
import numpy as np
from datetime import datetime

In [74]:
DATA_FILE = "./wfp_foodprices.csv"
WB_FILE = "./gdp.xls"
LEB_FILE = "./wfp_food_prices_lebanon.csv"

In [75]:
price_df = pd.read_csv(DATA_FILE)
code_df = pd.read_excel(WB_FILE, sheet_name=0, header=3)
region_df = pd.read_excel(WB_FILE, sheet_name=1)
region_df = pd.merge(code_df, region_df, how='inner', on='Country Code')
leb_df = pd.read_csv(LEB_FILE)

This function gets percent change in prices across time for commodities in different markets

In [ ]:
def get_percent_change(food_df, new_col, market_col, comm_col, date_col, price_col, date_limit=False):
    
    food_df.sort_values(by=date_col, inplace=True)
    df = food_df.copy()
    if date_limit:
        df = df.loc[df[date_col].apply(lambda date_: date_.year >= date_limit)]
    percent_change = pd.DataFrame()
    for market in df[market_col].unique():
        for commodity in df[comm_col].unique():
            market_change = df.loc[(df[market_col] == market) & (df[comm_col] == commodity)][price_col].pct_change()
            percent_change = pd.concat([percent_change, market_change])
    percent_change = percent_change.rename(columns={0:new_col}).fillna(0)
    final_df = food_df.merge(percent_change, how='left', left_index=True, right_index=True)
    
    return final_df

Clean the Lebanon data and get the monthly percent changes

In [79]:
leb_df = leb_df.groupby(['date', 'cmname', 'mktname']).mean().reset_index()
leb_df['date'] = leb_df['date'].apply(lambda date_: datetime.strptime(date_, '%m/%d/%Y').date())
leb_df.sort_values(by='date', inplace=True)

In [81]:
leb_df = get_percent_change(leb_df, 'pct_change', 'mktname', 'cmname', 'date', 'price')
leb_df = get_percent_change(leb_df, 'pct_change_5yr', 'mktname', 'cmname', 'date', 'price', 2016)
leb_df = get_percent_change(leb_df, 'pct_change_2yr', 'mktname', 'cmname', 'date', 'price', 2019)

In [ ]:
leb_df.to_csv('./lebanon_food_prices_cleaned.csv')

Clean Global Food Prices (72 countries) and get monthly percent changes

In [83]:
price_df['Country Name'] = price_df['adm0_name']
merge = pd.merge(region_df, price_df, how="inner", on="Country Name")
merge = merge.groupby(["Country Name", "Region", "mp_year", "mp_month", "cm_name", "cur_name"]).mean().reset_index()
country = merge[["Country Name", "Region", "cm_name", "mp_year", "mp_month", "mp_price", "cur_name"]]

In [91]:
country['date'] = country['mp_year'].astype(str) + "-" + country['mp_month'].astype(str)
country = get_percent_change(country, 'pct_change', 'Country Name', 'cm_name', 'date', 'mp_price')

<ipython-input-91-4179042db072>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country['date'] = country['mp_year'].astype(str) + "-" + country['mp_month'].astype(str)
<ipython-input-80-4b17f64b7718>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  food_df.sort_values(by=date_col, inplace=True)

,Country Name,Region,cm_name,mp_year,mp_month,mp_price,cur_name,date,pct_change
92795,Niger,Sub-Saharan Africa,Millet - Retail,1990,1,61.000000,XOF,1990-1,0.000000
92796,Niger,Sub-Saharan Africa,Rice (imported) - Retail,1990,1,201.666667,XOF,1990-1,0.000000
92797,Niger,Sub-Saharan Africa,Sorghum - Retail,1990,1,57.750000,XOF,1990-1,0.000000
92824,Niger,Sub-Saharan Africa,Sorghum - Retail,1990,10,61.750000,XOF,1990-10,0.069264
92823,Niger,Sub-Saharan Africa,Rice (imported) - Retail,1990,10,200.000000,XOF,1990-10,-0.008264
...,...,...,...,...,...,...,...,...,...
130026,Syrian Arab Republic,Middle East & North Africa,Hand sanitizer (gel) - Retail,2020,9,927.210516,SYP,2020-9,-0.011577
130025,Syrian Arab Republic,Middle East & North Africa,"Fuel (gas, parallel market) - Retail",2020,9,11751.108181,SYP,2020-9,-0.002973
130024,Syrian Arab Republic,Middle East & North Africa,Fuel (gas) - Retail,2020,9,2788.235294,SYP,2020-9,0.015714
125879,Sri Lanka,South Asia,"Fish (dry, katta) - Retail",2020,9,1200.000000,LKR,2020-9,0.000000
85245,Mozambique,Sub-Saharan Africa,Cowpeas - Retail,2020,9,56.498400,MZN,2020-9,-0.043436

Aggregate countries by Region and get their percent change

In [103]:
region = country.loc[country['Country Name'] != 'Lebanon']
region = country.groupby(["Region", "date", 'cm_name']).mean().reset_index()
region = get_percent_change(region, 'pct_change', 'Region', 'cm_name', 'date', 'mp_price')

,Region,date,cm_name,mp_year,mp_month,mp_price,pct_change_x,pct_change_y
58995,Sub-Saharan Africa,1990-1,Millet - Retail,1990,1,61.000000,0.000000,0.000000
58996,Sub-Saharan Africa,1990-1,Rice (imported) - Retail,1990,1,201.666667,0.000000,0.000000
58997,Sub-Saharan Africa,1990-1,Sorghum - Retail,1990,1,57.750000,0.000000,0.000000
58998,Sub-Saharan Africa,1990-10,Millet - Retail,1990,10,64.200000,0.052459,0.052459
58999,Sub-Saharan Africa,1990-10,Rice (imported) - Retail,1990,10,200.000000,-0.008264,-0.008264
...,...,...,...,...,...,...,...,...
21899,Europe & Central Asia,2020-9,Tea (herbal) - Retail,2020,9,6.649550,0.024170,0.024170
21898,Europe & Central Asia,2020-9,Tea (green) - Retail,2020,9,36.033333,-0.013986,-0.013986
21897,Europe & Central Asia,2020-9,Tea (black) - Retail,2020,9,35.952778,0.002401,0.002401
21895,Europe & Central Asia,2020-9,Salt - Retail,2020,9,64.818900,-0.004536,-0.001383
88177,Sub-Saharan Africa,2020-9,Yam - Wholesale,2020,9,19911.603231,-0.178438,-0.124830

In [108]:
file = "./global_food_prices_cleaned.xlsx"
tabs = {"countries" : country, "regions":region}
writer = pd.ExcelWriter(file, engine='openpyxl')
for tab, df in tabs.items():
    df.to_excel(writer, tab, index=False)
writer.save()