In [31]:
import geopandas as gpd
import pandas as pd
import zipfile
import io
import glob
import requests
import os
from shapely.geometry import Point

source: http://www.diva-gis.org/gdata

In [12]:
URL = "http://biogeo.ucdavis.edu/data/diva/adm/LBN_adm.zip"
SHAPE_DIR = './shapes'

In [70]:
if not os.path.exists(SHAPE_DIR):
    os.mkdir(SHAPE_DIR)
r = requests.get(URL)
z = zipfile.ZipFile(io.BytesIO(r.content))
z.extractall(SHAPE_DIR)
#[governate] = [f for f in z.namelist() if f == "LBN_adm1.shp"]
#[country] = [f for f in z.namelist() if f == "LBN_adm0.shp"]
[districts] = [f for f in z.namelist() if f == "LBN_adm2.shp"]
district_df = gpd.read_file(os.path.join(SHAPE_DIR, districts))
leb_df = pd.read_csv('./lebanon_food_prices_cleaned.csv')
#leb_df = leb_df.loc[leb_df['date'].apply(lambda date_: int(date_[:4]) > 2018)]
crs = {'init': 'epsg:4326'}
geometry = [Point(xy) for xy in zip(leb_df['long'].astype(float), leb_df['lat'].astype(float))]
leb_df = gpd.GeoDataFrame(leb_df,crs=crs, geometry=geometry)
leb_districts = gpd.sjoin(leb_df, district_df, how="inner", op='intersects')

[os.remove(f) for f in glob.glob(os.path.join(SHAPE_DIR, "*"))]

C:\Users\Ray\Anaconda3.1\envs\jupyterenv\lib\site-packages\numpy\lib\function_base.py:2167: RuntimeWarning: invalid value encountered in ? (vectorized)
  outputs = ufunc(*inputs)

[None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None]

In [77]:
#leb_districts.merge(district_df, how='inner', on='NAME_2').to_csv("./test.csv")

KeyboardInterrupt:

In [38]:
#district_df
leb_districts.columns#['geometry']
leb_districts.iloc[1]

Unnamed: 0                                         28286
Unnamed: 0.1                                        2368
date                                          2019-01-15
cmname                            Fuel (diesel) - Retail
mktname                                            Koura
price                                              16700
admname                                              NaN
adm1id                                              1799
mktid                                               1699
cmid                                                 284
ptid                                                  15
umid                                                 122
catid                                                  8
default                                              NaN
pct_change                                   -0.00595238
pct_change_10yr                              -0.00595238
pct_change_5yr                               -0.00595238
pct_change_2yr                                         0
lat                                              34.3319
long                                             35.8067
geometry           POINT (35.80669269426015 34.33191595)
index_right                                           22
ID_0                                                 125
ISO                                                  LBN
NAME_0                                           Lebanon
ID_1                                                   7
NAME_1                                             North
ID_2                                                  23
NAME_2                                             Koura
TYPE_2                                             Qadaa
ENGTYPE_2                                       District
NL_NAME_2                                           None
VARNAME_2                                           None
Name: 28286, dtype: object

In [51]:
23 districts in leb df, 30 from original shape file

23

Get polygon onto leb districts df

In [57]:
merge = leb_districts.merge(district_df, how='inner', on='NAME_2')

In [62]:
print(merge.columns)
merge

Index(['Unnamed: 0', 'Unnamed: 0.1', 'date', 'cmname', 'mktname', 'price',
       'admname', 'adm1id', 'mktid', 'cmid', 'ptid', 'umid', 'catid',
       'default', 'pct_change', 'pct_change_10yr', 'pct_change_5yr',
       'pct_change_2yr', 'lat', 'long', 'geometry_x', 'index_right', 'ID_0_x',
       'ISO_x', 'NAME_0_x', 'ID_1_x', 'NAME_1_x', 'ID_2_x', 'NAME_2',
       'TYPE_2_x', 'ENGTYPE_2_x', 'NL_NAME_2_x', 'VARNAME_2_x', 'ID_0_y',
       'ISO_y', 'NAME_0_y', 'ID_1_y', 'NAME_1_y', 'ID_2_y', 'TYPE_2_y',
       'ENGTYPE_2_y', 'NL_NAME_2_y', 'VARNAME_2_y', 'geometry_y'],
      dtype='object')

,Unnamed: 0,Unnamed: 0.1,date,cmname,mktname,price,admname,adm1id,mktid,cmid,...,ISO_y,NAME_0_y,ID_1_y,NAME_1_y,ID_2_y,TYPE_2_y,ENGTYPE_2_y,NL_NAME_2_y,VARNAME_2_y,geometry_y
0,28279,2615,2019-01-15,Salt - Retail,Koura,500.0,NaN,1799,1699,185,...,LBN,Lebanon,7,North,23,Qadaa,District,None,None,"POLYGON ((35.83021 34.41891, 35.83081 34.41853..."
1,28286,2368,2019-01-15,Fuel (diesel) - Retail,Koura,16700.0,NaN,1799,1699,284,...,LBN,Lebanon,7,North,23,Qadaa,District,None,None,"POLYGON ((35.83021 34.41891, 35.83081 34.41853..."
2,28299,2344,2019-01-15,"Fish (tuna, canned) - Retail",Koura,2750.0,NaN,1799,1699,322,...,LBN,Lebanon,7,North,23,Qadaa,District,None,None,"POLYGON ((35.83021 34.41891, 35.83081 34.41853..."
3,28351,2393,2019-01-15,Fuel (gas) - Retail,Koura,13300.0,NaN,1799,1699,341,...,LBN,Lebanon,7,North,23,Qadaa,District,None,None,"POLYGON ((35.83021 34.41891, 35.83081 34.41853..."
4,28369,2293,2019-01-15,Chickpeas - Retail,Koura,3477.0,NaN,1799,1699,244,...,LBN,Lebanon,7,North,23,Qadaa,District,None,None,"POLYGON ((35.83021 34.41891, 35.83081 34.41853..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13258,39658,9993,2020-11-15,Fuel (gas) - Retail,Jezzine,18200.0,NaN,1800,1697,341,...,LBN,Lebanon,8,South,27,Qadaa,District,None,None,"POLYGON ((35.56610 33.59642, 35.56599 33.59585..."
13259,39695,10019,2020-11-15,"Fuel (petrol-gasoline, 95 octane) - Retail",Jezzine,23600.0,NaN,1800,1697,554,...,LBN,Lebanon,5,Mount Lebanon,14,Qadaa,District,None,None,"POLYGON ((35.49710 33.56799, 35.49679 33.56811..."
13260,39695,10019,2020-11-15,"Fuel (petrol-gasoline, 95 octane) - Retail",Jezzine,23600.0,NaN,1800,1697,554,...,LBN,Lebanon,8,South,27,Qadaa,District,None,None,"POLYGON ((35.56610 33.59642, 35.56599 33.59585..."
13261,39716,9967,2020-11-15,Fuel (diesel) - Retail,Jezzine,15400.0,NaN,1800,1697,284,...,LBN,Lebanon,5,Mount Lebanon,14,Qadaa,District,None,None,"POLYGON ((35.49710 33.56799, 35.49679 33.56811..."
13262,39716,9967,2020-11-15,Fuel (diesel) - Retail,Jezzine,15400.0,NaN,1800,1697,284,...,LBN,Lebanon,8,South,27,Qadaa,District,None,None,"POLYGON ((35.56610 33.59642, 35.56599 33.59585..."